---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro'
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'Bloggo';
//console.log(allPosts[0].compiledContent());
---

<BaseLayout pageTitle={pageTitle}>
  <h2>... and my new Astro blog!</h2>

  <p>I tried it myself and added a Blog page!</p>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
