---
import Navigation from '../components/Navigate.astro';
import Hamburger from '../components/Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
    <nav>
        <Hamburger />
        <ThemeIcon />
        <Navigation />
    </nav>
</header>